
*{ /*all of the elmnt*/
    font-family: 'Courier New';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}
header {
    background-color: hsl(0, 0%, 100%);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 50px ;
}
.logo{
    text-decoration: none;
    color: #0031b6;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.6em;
}
.navigation a{
    color: #0031b6;
    text-decoration:none;
    font-size: 1.4em;
    font-weight: 600;
    padding-left: 30px;
}
.navigation a:hover{
    color: #6833e4;
}
section {
    padding: 100px 100px;
}
.main {
    width: 100%;
    min-height: 100vh;/* الارتفاع الاقل المسموح به */
    display: flex;
    align-items: center;
    background: url(background.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.main h2 {
    color: #fff;
    font-size: 2em;
    font-weight: 600;
}
.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #4e9eff;
    font-size: 2.5em;
    font-weight: 600;
}
.main h3 {
    color: #4e9eff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.social-icons a {
    color: #4e9eff;
    font-size: 3em;
    padding: 0 12px 0 0;
}
.title {
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}
.card:hover {
    transform: scale(1.1);
}
.img {
    color: #0031b6;
    font-size: 2.5em;
    text-align: center;
   
    
}
.info {
    color: #222259;
    text-align: center;
    font-size: 1.2em;
}
.info h6 {
    color: #37376c;
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
}
.info h2 {
    color: #ffffff;
    text-align: center;
    font-size: 2em;
    font-weight: 600;
}
.info h5 {
    color: #ffffff;
    text-align: center;
    font-size: 1em;
    font-weight: 500;
}
.project-card {
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 28em;
    overflow: hidden;
    border-radius: 10px;
    margin: 10px;
    transition: 0.5s ease;
}
.project-card:hover {
   transform: scale(1.1);
}
.project-card:hover .project-image {
    opacity: 0.9;
 }
.project-image img{
    width: 100%
}
.project-info {
    padding: 1em;
}
.project-category {
    font-size: 1.1em;
    color:#222259;
}
.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}
.more-details {
    text-decoration: none;
    color: #3a6cf4;
}
.more-details:hover {
    color: #601cfc;
}
.footer {
    background-color: #000027;
    color: #fff;
    padding: 1.4em;
    display: flex;
    justify-content: space-between;

}
.footer-title {
    font-size: 1.3em;
    font-weight: 400;
   
}
@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }
    .navigation a{
        padding-left: 10px;
    }
    .title{
        font-size: 1.8em;
    }
    section{
        padding: 80px 20px;
    }
    .main-content h2{
        font-size: 1em;
    }
    .main-content h3{
        font-size: 1.6em;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }
}